*{
    box-sizing: border-box;
}
.borde{
    border: 3px solid grey;
}
/* navegador */
nav{
    width: 100%;
    height: 100px;
}
/* logo */
.logo{
    width: 20%;
    height: 100px;
    float: left;
}
/* menu */
.menu{   
    width: 65%;
    height: 100px;
    float: left;
}
/* ingreso */
.ingreso{
    width: 15%;
    height: 100px;
    float: left;
}