/* --------------------------------------------------------------------------------- */
/* --------------------------------I GENERALIDADES DEL CONTENIDO-------------------- */
/* --------------------------------------------------------------------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.borde{
    border: 1px solid grey;
}
.titulo{
    height: 70px;
}
.color-azul{
    background:#4fa8fb;
}
.color-negro{
    background: #0c181c;
}
.color-verde{
    background: #00c6ab;
}
.color-gris{
    background: #808080;
}
.color-blanco{
    background: #FFFFFF;
}
/* -------------------------------------------------------------------------------- */
/* -------------------------------II. LAYOUT: MAQUETACION WEB---------------------- */
/* ----------------------------------ESCRITORIO Y PORTATIL------------------------- */
/* -------------------------------------------------------------------------------- */
/* contenedor */
.contenedor{
    width: 90%;
    max-width: 1290px;
    margin: auto;
}
/* navegador */
nav{
    width: 100%;
    height: 70px;
}
/* logo */
.logo{
    width: 20%;
    height: 100%;
    float: left;
}
.logo img{
    width: 100%;
    height: 100%;
}
/* menu */
.menu{   
    width: 65%;
    height: 100%;
    /* background: blue; */
    /* background: rgb(0,0,225); */
    background: #759eff;
    
    float: left;
}
/* ingreso */
.ingreso{
    width: 15%;
    height: 100%;
    float: left;
    background: #525558;
}
/* Encabezado y Secciones */
header, section{
    height: 700px;    
/* portafolio*/
}
.port-col{
    width: 33.33%;
    height: 100%;
    padding: 20px;
    text-align:  center;
    float: left;
}
section img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/* Nosotros */
.nos-fila{
    width: 100%;
    height: 33.33%;
}
.nos-col-ext{
    width: 40%;
    height: 100%;
    float: left;
}
.nos-col-cnt{
    width: 20%;
    height: 100%;
    padding: 25px;
    text-align: center;
    float: left;
}
/* contactenos */
.cont-col{
    width: 50%;
    height: 100%;
    float: left;
}
.cont-fila-arr{
    width: 100%;
    height: 70%;
}
.cont-fila-abj{
    width: 100%;
    height: 30%;
}
/* Encabezado de Pagina */
footer{
    width: 100%;
    height: 70px;
}

/* -------------------------------------------------------------------------------- */
/* ---------------------------III. RESPONSIVE DESIGN------------------------------- */
/* ------------------------------------TABLETS------------------------------------- */
/* -------------------------------------------------------------------------------- */